include includes/header.pug
block content
    link(href="/stylesheets/style.css" rel="stylesheet")
    body

        div(class="main-dashboard")
            div(class="row" id="body-row")
                include includes/side-dashboard.pug
                div(class="col p-0 w-25")
                    div(class="col mt-2 p-3")
                        div(class="profile")
                            div(class="container")
                                h3(class="pb-4") Profile Information    
                                form(method="POST")
                                    div(class="row")
                                        div(class="col-md-6")
                                            label(for="firstname") First Name:
                                            input(type="text" value="Simeon" class="profile-form mb-4")
                                            label(for="firstname") Last Name:
                                            input(type="text" value="Peter" class="profile-form mb-4")
                                            label(for="firstname") Phone Number:
                                            input(type="text" value="+234117788991" class="profile-form mb-4")
                                            label(for="firstname") Email:
                                            input(type="text" class="profile-form mb-4")
                                            
                                        div(class="col-md-6")
                                            img(src="/images/default.jpeg" height="160px" width="150px" class="float-right mb-2")
                                            div(class="clearfix")
                                            label(for="firstname") Address:
                                            input(type="text" class="profile-form mb-4")
                                            label(for="firstname") Gender:
                                            input(type="text" class="profile-form")
                                        div(class="col-md-12")
                                            div(class="text-center")
                                                input(type="submit" value="Update Records" class="btn mt-4")
                                        
                                        

        include includes/footer.pug
        
     
    
    