block content
    div(id="sidebar-container" class="sidebar")
        div(class="sidebar-separator-title text-muted d-flex align-items-center menu-collapsed")
        a(data-toggle="sidebar-colapse" class=" d-flex toggleIt")
            div(class="d-flex w-100 justify-content-start align-items-center")
            span(id="collapse-icon" class="fa fa-2x mr-3")

        a(href="#" class="d-flex align-items-center dashboard-link active")
            span(class="fa fa-sign-out" title="Log Out")
            span(class="menu-collapsed") Profile
        a(href="#" class="d-flex align-items-center dashboard-link")
            span(class="fa fa-sign-out" title="Log Out")
            span(class="menu-collapsed") Testimony
        a(href="#" class="d-flex align-items-center dashboard-link")
            span(class="fa fa-sign-out" title="Log Out")
            span(class="menu-collapsed") Events
        a(href="#" class="d-flex align-items-center dashboard-link")
            span(class="fa fa-sign-out" title="Log Out")
            span(class="menu-collapsed") Support
        a(href="#" class="d-flex align-items-center dashboard-link")
            span(class="fa fa-sign-out" title="Log Out")
            span(class="menu-collapsed") Log Out    
    